@charset "UTF-8";
/**Fonts**/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/**CSS Normalize**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**Colors**/
body {
  --prime-color: #051937;
  --second-color: #f95e26;
  --main-font: "Lato";
  font-family: var(--main-font), sans-serif;
}

.square-of-dots {
  height: 100px;
  width: 100px;
}

.square-of-dots:before {
  content: "";
  -webkit-animation: square-of-dots 1s infinite linear;
          animation: square-of-dots 1s infinite linear;
  border-radius: 100%;
  height: 10px;
  position: absolute;
  width: 10px;
}

@-webkit-keyframes square-of-dots {
  0% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  10% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  20% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  30% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  40% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 -10px #fff;
  }
  50% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  60% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  70% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  80% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  90% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 0 #fff;
  }
  100% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
}

@keyframes square-of-dots {
  0% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  10% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  20% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  30% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  40% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 -10px #fff;
  }
  50% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  60% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  70% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  80% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  90% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 0 #fff;
  }
  100% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
}
header {
  height: 80px;
  width: 100%;
  background-color: var(--prime-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  --item-height: 40px;
}
header .headLogo {
  height: var(--item-height);
}
header .headLocation {
  height: var(--item-height);
  padding-block: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 200ms;
}
header .headLocation:hover {
  border-color: #ccc;
}
header .headLocation::before {
  font: var(--fa-font-solid);
  margin-right: 10px;
  font-size: 0.9rem;
}
header .headLocation::before {
  content: "\f124";
}
header .headGift {
  height: var(--item-height);
  padding-block: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 200ms;
}
header .headGift:hover {
  border-color: #ccc;
}
header .headGift::before {
  font: var(--fa-font-solid);
  margin-right: 10px;
  font-size: 0.9rem;
}
header .headGift::before {
  content: "\f06b";
}
header .headSearchBox {
  height: var(--item-height);
  padding-block: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 200ms;
  width: 40%;
  height: 40px;
  padding: 0;
  border: none;
  position: relative;
}
header .headSearchBox:hover {
  border-color: #ccc;
}
header .headSearchBox::before {
  font: var(--fa-font-solid);
  margin-right: 10px;
  font-size: 0.9rem;
}
header .headSearchBox .searchCategories {
  all: unset;
  height: 100%;
  padding-inline: 5px;
  border-radius: 5px 0 0 5px;
  background-color: var(--second-color);
  text-align: center;
}
header .headSearchBox .searchCategories:hover {
  filter: brightness(1.1);
}
header .headSearchBox .searchBox {
  all: unset;
  padding-inline: 10px;
  height: 100%;
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  color: black;
  cursor: text;
  font-size: 1.2rem;
}
header .headSearchBox .searchBox::-moz-placeholder {
  color: #999;
}
header .headSearchBox .searchBox:-ms-input-placeholder {
  color: #999;
}
header .headSearchBox .searchBox::placeholder {
  color: #999;
}
header .headSearchBox .searchBtn {
  all: unset;
  border-radius: 0 5px 5px 0;
  height: 100%;
  padding-inline: 8px;
  background-color: var(--second-color);
  cursor: pointer;
}
header .headSearchBox .searchBtn:hover {
  filter: brightness(1.1);
}
header .headOrder {
  height: var(--item-height);
  padding-block: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 200ms;
}
header .headOrder:hover {
  border-color: #ccc;
}
header .headOrder::before {
  font: var(--fa-font-solid);
  margin-right: 10px;
  font-size: 0.9rem;
}
header .headOrder::before {
  content: "\f4de";
}
header .headAccount {
  height: var(--item-height);
  padding-block: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 200ms;
}
header .headAccount:hover {
  border-color: #ccc;
}
header .headAccount::before {
  font: var(--fa-font-solid);
  margin-right: 10px;
  font-size: 0.9rem;
}
header .headAccount::before {
  content: "\f007";
}
header .headBasket {
  height: var(--item-height);
  padding-block: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 200ms;
}
header .headBasket:hover {
  border-color: #ccc;
}
header .headBasket::before {
  font: var(--fa-font-solid);
  margin-right: 10px;
  font-size: 0.9rem;
}
header .headBasket::before {
  content: "\f07a";
}

nav {
  width: 100%;
  background-color: var(--prime-color);
  color: #ccc;
  filter: grayscale(40%);
  position: relative;
  z-index: 9;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-block: 8px;
}
nav ul a {
  all: unset;
}
nav ul .mainNavPro {
  position: relative;
}
nav ul .mainNavPro::after {
  margin-left: 15px;
  content: "\f0d7";
  font: var(--fa-font-solid);
}
nav ul .mainNavPro:hover .productNav {
  display: block;
}
nav ul .mainNavPro:hover::after {
  content: "\f0d8";
}
nav ul .mainNavPro ul.productNav {
  position: absolute;
  display: none;
  background-color: var(--prime-color);
  left: -30px;
}
nav ul .mainNavPro ul.productNav li {
  padding: 10px 40px;
  color: #ccc;
}
nav ul .mainNavPro ul.productNav li:hover {
  color: var(--second-color);
}
nav ul li {
  cursor: pointer;
  font-size: 1.1rem;
  transition: color 200ms;
}
nav ul li:hover {
  color: var(--second-color);
}
nav ul .activeNav {
  color: var(--second-color);
}

.slideBase {
  --LineUnderSlider-color: var(--prime-color);
  --LineUnderSlide-size: 4px;
  --dot-color: var(--prime-color);
  --dot-color-active: var(--second-color);
  --slidShow-height: 400px;
  --slidShow-width: 80vw;
  z-index: 3;
}
.slideBase .slid {
  background-size: cover;
  background-position: center;
}
.slideBase span[class=next],
.slideBase span[class=prev] {
  position: absolute;
  top: 46%;
  background: rgba(0, 0, 0, 0.6);
  padding: 2% 10px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  opacity: 0.5;
  transition: all 300ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slideBase span[class=next] {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/* Dots */
.dotHolder {
  height: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dotHolder span {
  aspect-ratio: 1;
  width: 10px;
  border-radius: 50%;
  background: var(--prime-color);
  margin: 0 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.dotHolder span.active {
  background: var(--second-color);
  transform: scale(1.4);
}

/* ================================== Change it For new Class Name */
.slideBase {
  height: var(--slidShow-height);
  width: var(--slidShow-width);
  margin: 100px auto 10px;
  border-bottom: var(--LineUnderSlide-size) solid var(--LineUnderSlider-color);
  box-shadow: 0 0 15px var(--LineUnderSlider-color);
  background: black;
}

.slidShow {
  height: 100%;
  display: flex;
  transition: all 400ms;
}

.slideBase span:hover {
  padding: 2% 20px;
}

.slideBase:hover span {
  opacity: 1;
}

.categoryList {
  width: 80vw;
  min-width: 300px;
  margin: 50px auto;
  padding: 50px 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  /**Btn */
}
.categoryList::after, .categoryList::before {
  content: "";
  position: absolute;
  left: 0;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(145deg, #f2f2f2, #cbcbcb);
  box-shadow: 5px 5px 10px #c0c0c0, -5px -5px 10px #ffffff;
  cursor: pointer;
  display: none;
}
.categoryList::after {
  right: 0;
  left: unset;
}
.categoryList .CatCard {
  width: 15%;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 15px;
  background: #e2e2e2;
  box-shadow: 6px 6px 12px #c0c0c0, -6px -6px 12px #ffffff;
  cursor: pointer;
  text-align: center;
  transition: all 300ms;
}
.categoryList .CatCard:hover {
  transform: scale(1.05);
}
.categoryList .CatCard .cardImg {
  width: 80%;
  height: 70%;
  margin: 10% auto 0;
  background-image: url(https://cms-images.mmst.eu/fw7ws5lvie5f/1HU9DhcM2mM6lUl9nzIyLk/7658234fa1d87c09563550f9c91bdbc3/notebooks.png?q=80&w=264);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.categoryList .brandCard {
  height: 150px;
  aspect-ratio: 1;
  --img: url("https://logosmarken.com/wp-content/uploads/2020/04/Sony-Logo.png");
  border-radius: 10px;
  background: center/70% var(--img) no-repeat, linear-gradient(145deg, #cbcbcb, #f2f2f2);
  box-shadow: 8px 8px 16px #c9c9c9, -8px -8px 16px #fbfbfb;
  cursor: pointer;
}

#content {
  width: 80%;
  padding-block: 100px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  gap: 5%;
}
#content .contentTitle {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--prime-color);
}
#content .itemCard {
  height: 400px;
  width: 20%;
  min-width: 250px;
  display: flex;
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 25px;
  border-radius: 10px;
  background: #e2e2e2;
  box-shadow: 6px 6px 12px #d0d0d0, -6px -6px 12px #f4f4f4;
  position: relative;
}
#content .itemCard .cardSoldOut {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background: center/80% url("src/assets/image/ausverkauft.png") no-repeat rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 2;
}
#content .itemCard .cardImg {
  height: 50%;
  width: 80%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#content .itemCard p {
  margin-block: 10px 0;
}
#content .itemCard p span {
  font-weight: 800;
  font-size: 1.2rem;
  margin-right: 0.6rem;
}
#content .itemCard .cardPrice {
  width: 100%;
  margin-top: auto;
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
#content .itemCard .cardPrice .salePrice {
  font-size: 0.7rem;
  display: block;
}
#content .itemCard .cardPrice .salePrice span {
  padding-left: 5px;
  position: relative;
}
#content .itemCard .cardPrice .salePrice span:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 8px;
  left: 3px;
  transform: rotate(15deg);
  background-color: #333;
}
#content .itemCard .cardPrice span::after {
  content: " €";
}
#content .itemCard .cardSt {
  width: 100%;
  font-size: 0.7rem;
  color: #777;
  text-decoration: underline;
}
#content .pageNumber {
  width: 100%;
  height: 35px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#content .pageNumber .numbers {
  all: unset;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  background: linear-gradient(145deg, #cbcbcb, #f2f2f2);
  box-shadow: 4px 4px 7px #c9c9c9, -4px -4px 7px #fbfbfb;
}
#content .pageNumber .numbers:active {
  background: linear-gradient(145deg, #f2f2f2, #cbcbcb);
  box-shadow: 4px 4px 7px #b5b5b5, -4px -4px 7px #ffffff;
}
#content .pageNumber .numbers.activePg {
  background: linear-gradient(145deg, #f2f2f2, #cbcbcb);
  box-shadow: 4px 4px 7px #b5b5b5, -4px -4px 7px #ffffff;
}
#content .pageNumber .backBtn::after {
  content: "\f104";
  font: var(--fa-font-solid);
}
#content .pageNumber .forwardBtn::after {
  content: "\f105";
  font: var(--fa-font-solid);
}

footer {
  height: auto;
  width: 100vw;
}
footer .footerTop {
  width: 100%;
  background-color: #111;
  padding: 50px 10%;
}
footer .footerTop h2 {
  color: #ccc;
  font-size: 3.5rem;
  margin-bottom: 10px;
}
footer .footerTop span {
  color: #999;
  display: block;
}
footer .footerTop input {
  all: unset;
  height: 40px;
  min-width: 250px;
  width: 25%;
  padding-inline: 10px;
  background-color: #ccc;
  margin-top: 20px;
  margin-left: 60%;
  font-size: 1.2rem;
  border-radius: 5px 0 0 5px;
  transition: all 300ms;
}
footer .footerTop input:focus {
  background-color: #fff;
}
footer .footerTop button {
  all: unset;
  height: 40px;
  padding-inline: 10px;
  vertical-align: 1px;
  background-color: var(--second-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all 300ms;
}
footer .footerTop button:hover {
  filter: brightness(1.1);
}
footer .footerBottom {
  height: auto;
  width: 100%;
  background-color: #333;
  padding-block: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #999;
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
footer .footerBottom i {
  margin: 20px 20px 0 0;
  width: 80px;
  padding-block: 5px;
  text-align: center;
  color: #999;
  font-size: 1.8rem;
  border: 1px solid #444;
}
footer .footerBottom .deliveryPartner {
  width: 20%;
  min-width: 200px;
}
footer .footerBottom .payment {
  width: 70%;
  min-width: 200px;
}
footer .footerBottom .footerColumn {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
footer .footerBottom .footerColumn .column {
  width: 20%;
  min-width: 200px;
  font-size: 1.2rem;
  position: relative;
}
footer .footerBottom .footerColumn .column::before {
  font: var(--fa-font-solid);
  font-size: 0.8rem;
  position: absolute;
  left: -20px;
  top: 8px;
}
footer .footerBottom .footerColumn .column:first-child::before {
  content: "\f075";
}
footer .footerBottom .footerColumn .column:nth-child(2)::before {
  content: "\f2d2";
}
footer .footerBottom .footerColumn .column:nth-child(3)::before {
  content: "\f02e";
}
footer .footerBottom .footerColumn .column:last-child::before {
  content: "\f005";
}
footer .footerBottom .footerColumn .column ul {
  list-style: none;
  font-size: 1rem;
  padding-left: 10px;
}
footer .footerBottom .footerColumn .column ul li {
  margin-top: 20px;
  cursor: pointer;
  transition: all 300ms;
}
footer .footerBottom .footerColumn .column ul li:hover {
  color: var(--second-color);
}
footer .footerBottom .footerSocial {
  width: 80%;
  min-width: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
footer .footerBottom .footerSocial i {
  border: none;
  width: auto;
  cursor: pointer;
  transition: color 300ms;
}
footer .footerBottom .footerSocial i:hover {
  color: var(--second-color);
}
footer .footerBottom p {
  width: 80%;
  margin-top: 50px;
  line-height: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e2e2e2;
  position: relative;
}

#popUp {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: grid;
  place-content: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}/*# sourceMappingURL=main.css.map */